.footer-div {
  display: flex;
  justify-content: center;
  background-color: black;

}

.footer-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-icons li {
  margin: 0 4px 0 4px;
  list-style: none;
  cursor: pointer;
}

.footer-icons li a {
  color: white;
}

.footer-icons:hover li a {
  color: grey;
}

.footer-icons li a:hover {
  color: white;
}